.loginComponent{
    background: rgb(21, 21, 21);
    height: 100vh;
    width: 100vw;
    padding-top: 15vh;
}

.title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.error {
    background-color:indianred;
}

.form {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

